header {
  background: #fefeff;
  padding-top: 17px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 20px 200px;
}

.nav-items {
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.nav-item {
  /* // Чему вы научитесь */
  color: #404040;
  font-size: 13px;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 13.57px;
  word-wrap: break-word;
}

.logo {
  width: 1440px;
}

@media (max-width: 448px) {
  nav {
    padding: 15px 30px;
    .nav-item {
      font-size: 15px;
    }
  }
}

@media (min-width: 449px) and (max-width: 768px) {
  nav {
    padding: 15px 60px;
    .nav-item {
      font-size: 18px;
    }
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  nav {
    padding: 15px 120px;
    .nav-item {
      font-size: 20px;
    }
  }
}
